
<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9"><![endif]--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Painter App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    <body>
        <div class="wrapper">
            <canvas id="can" width="300" height="300"></canvas>

            <div class="colors-wrapper"></div>

            <div class="controls">
                <a href="#" class="btn clear">Start again</a>
                <a href="#" class="btn save">Save image</a>
            </div>
        </div>

        <script src="../public/dist/prod.js"></script>

      
    </body>
</html>